@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.btn-primary {
  background-color: #2563eb; /* Blue */
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(37, 99, 235, 0.4);
}

.btn-primary:hover {
  background-color: #1e40af; /* Darker blue */
  box-shadow: 0 6px 12px rgba(30, 64, 175, 0.6);
}

.btn-primary:focus {
  outline: 3px solid #93c5fd; /* Light blue focus ring */
  outline-offset: 2px;
}

.btn-secondary {
  background-color: #ef4444; /* red-500 */
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(239, 68, 68, 0.4);
}

.btn-secondary:hover {
  background-color: #b91c1c; /* darker red */
  box-shadow: 0 6px 12px rgba(185, 28, 28, 0.6);
}

.btn-secondary:focus {
  outline: 3px solid #fecaca; /* light red focus ring */
  outline-offset: 2px;
}

.left-btn {
  position: fixed;
  left: 0;
  top: 20rem;
}

.right-btn {
  position: fixed;
  right: 0;
  top: 20rem;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}